<form class="form-horizontal">

	<h2>Registro de Matrimonio Civil</h2>	

	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Civil</h3>
		</legend>	

		<div class="col-group-2">

			<div class="column">
				<h4>a) Testigo</h4>
				<div class="mod mod-bordered">		

					<div class="bd">

						<div class="control-group">
							<label class="checkbox">
								<input type="checkbox">
								Extranjero
							</label>
						</div>

						<div class="control-group">
							<div class="control-label">Cédula o Doc. de Identi.</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>


						<div class="control-group">
							<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Segundo Apellido</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="checkbox">
								<input type="checkbox">
								No indica
							</label>
						</div>

					</div>

				</div>
			
			</div>

			<div class="column">
				<h4>b) Testigo</h4>
				<div class="mod mod-bordered">		

					<div class="bd">

						<div class="control-group">
							<label class="checkbox">
								<input type="checkbox">
								Extranjero
							</label>
						</div>

						<div class="control-group">
							<div class="control-label">Cédula o Doc. de Identi.</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Segundo Apellido</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="checkbox">
								<input type="checkbox">
								No indica
							</label>
						</div>

					</div>

				</div>
			
			</div>

		</div>

		<legend class="strong">
			LEÍ A LOS CONTRAYENTES LOS ARTÍCULOS 11,34 Y 35 DEL CÓDIGO DE FAMILIA. EL ACTO SEREALIZÓ EN PRESENCIA DE LOS TESTIGOS DE CONOCIMIENTO DEBIDAMENTE JURAMENTADOS QUE SE DIRÁ. SE PUBLICÓ O DISPENSO EDICTO DE LEY. DECLARÉ A LOS CONTRAYENTES UNIDOS EN MATRIMONIO.
		</legend>

		<div class="control-group">
			<div class="control-label">Observaciones</div>
			<div class="controls">
				<textarea class="span7"></textarea>
			</div>
		</div>

		<legend class="strong">
			HORA Y  FECHA EN QUE SE EXTIENDE LA CERTIFICACIÓN
		</legend>

		<div class="control-group">
			<div class="controls">
				<input type="text" />
			</div>
		</div>

		<legend class="strong">
			ESTE MATRIMONIO QUEDA INSCRITO EN:
		</legend>

		<div class="mod mod-bordered">

			<div class="bd ctxt strong">
				NOMBRE DE PROVINCIA, TOMO , FOLIO, ASIENTO
			</div>

		</div>

		<div class="ctxt">

			<button class="btn btn-blue">Generar Reporte</button>
			<button class="btn btn-blue">Enviar por correo electrónico</button>
			<button class="btn btn-blue">Realizar nueva consulta</button>

		</div>

	</fieldset>

</form>