<form class="form-horizontal">
	<h2>Registro de Matrimonio Civil</h2>	
	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Civil</h3>
		</legend>

		<hr />


		<div class="mod mod-bordered">
			<div class="hd">
							
				<h2>Datos de la Madre del contrayente (al momento del matrimonio)</h2> 
				<label class="checkbox">
					<input type="checkbox">
					Extranjero
				</label>
							
			</div>
			<div class="bd">

				<div class="control-group">
					<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Segundo Apellido</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="checkbox">
						<input type="checkbox">
						No indica
					</label>
				</div>

				<div class="mod mod-bordered">
					<div class="bd">

						<div class="control-group">
							<div class="control-label">Nacionalidad</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

					</div>
				</div>

								
			</div>
									
		</div>

		<div class="mod mod-bordered">
			<div class="hd">
							
				<h2>Datos de la Madre de la contrayente (al momento del matrimonio)</h2> 
				<label class="checkbox">
					<input type="checkbox">
					Extranjero
				</label>
							
			</div>
			<div class="bd">

				<div class="control-group">
					<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Segundo Apellido</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="checkbox">
						<input type="checkbox">
						No indica
					</label>
				</div>

				<div class="mod mod-bordered">
					<div class="bd">

						<div class="control-group">
							<div class="control-label">Nacionalidad</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

					</div>
				</div>

								
			</div>
									
		</div>

		<div class="ctxt">

			<button class="btn btn-blue">Generar Reporte</button>
			<button class="btn btn-blue">Enviar por correo electrónico</button>
			<button class="btn btn-blue">Realizar nueva consulta</button>

		</div>

	</fieldset>
</form>

					
