<form class="form-horizontal">
	<h2>Registro de Matrimonio Civil</h2>	
	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Civil</h3>
		</legend>
			
			<div class="control-group">
				<div class="control-label">Cédula o Doc. de Identi.</div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>
			
			<div class="control-group">
				<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
					<div class="controls">
					<input type="text" />
					<label class="dinline-block">Segundo Apellido</label>
					<input type="text" />
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">Cédula o Doc. de Identi.</div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">Notario con oficina en:</div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>

			<div class="control-group labels">
				<div class="controls">
					<label class="input-large">Provincia</label>
					<label class="input-large">Cantón</label>
					<label class="input-large">Distrito</label>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="input-large" type="text">
					<input class="input-large" type="text">
					<input class="input-large" type="text">
				</div>
			</div>

			<legend class="hd">
				<h3>De paso por:</h3>
			</legend>

			<div class="bd">

				<div class="control-group">
					<div class="control-label">Provincia</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Cantón</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Distrito</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>
			
			</div>

			<br />

			<div class="control-group">
				<div class="control-label">Certifico que en el acta número</div>
				<div class="controls">
					<input type="text" class="input-medium" />
					<label class="dinline-block">al folio número</label>
					<input type="text" class="input-medium" />
					<label class="dinline-block">del tomo</label>
					<input type="text" class="input-medium" />
				</div>
			</div>
			<label class="dinline-block">que lleva está notaría, se registra la que literalmente dice:</label>
			<div class="control-group">
				<div class="control-label">A las</div>
				<div class="controls">
					<input type="text" class="input-small" />
					<label class="dinline-block">el día</label>
					<input type="text" class="input-small" />
					<label class="dinline-block">mes</label>
					<input type="text" class="input-small" />
					<label class="dinline-block">año</label>
					<input type="text" class="input-small" />
				</div>
			</div>

			<br /><br />

			<div class="ctxt">

				<button class="btn btn-blue">Generar Reporte</button>
				<button class="btn btn-blue">Enviar por correo electrónico</button>
				<button class="btn btn-blue">Realizar nueva consulta</button>

			</div>

	</fieldset>

</form>