<form class="form-horizontal">
	<h2>Registro de Matrimonio Civil</h2>	
	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Civil</h3>
		</legend>

		<hr />

		<h3>Datos del contrayente (al momento del matrimonio)</h3> 

		<div class="mod mod-bordered">
							
			<div class="hd strong">
				CUANDO ALGUNO O AMBOS CONTRAYENTES SEA MENOR DE 18 AÑOS, DEBE CONSIGNARSE EL NOMBRE DE LA PERSONA QUE DIO EL ASENTIMIENTO SEGÚN LO ESTABLECIDO EN EL ARTÍCULO 21 DEL CÓDIGO DE FAMILIA:
			</div>

			<hr />

			
			
			<div class="ctxt">

				<label class="checkbox inline">
					<input type="checkbox"> 
					Padre
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					Madre
				</label>

			</div>
			

			<br />

			<div class="bd">

				<div class="col-group-2">

					<div class="column">
						
						<div class="mod mod-bordered">

							<div class="hd">
								<h2>Padre</h2> 					
							</div>
							<div class="bd">
								
								<div class="control-group">
									<div class="control-label">Nombre</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Primer Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Segundo Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

							</div>

						</div>

					</div>
					<div class="column">
						
						<div class="mod mod-bordered">

							<div class="hd">
								<h2>Madre</h2> 					
							</div>

							<div class="bd">
								
								<div class="control-group">
									<div class="control-label">Nombre</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Primer Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Segundo Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
		
			
		</div>

		<br>

		<h3>Datos de la contrayente (al momento del matrimonio)</h3> 

		<div class="mod mod-bordered">
							
			<div class="hd strong">
				CUANDO ALGUNO O AMBOS CONTRAYENTES SEA MENOR DE 18 AÑOS, DEBE CONSIGNARSE EL NOMBRE DE LA PERSONA QUE DIO EL ASENTIMIENTO SEGÚN LO ESTABLECIDO EN EL ARTÍCULO 21 DEL CÓDIGO DE FAMILIA:
			</div>

			<hr />
			
			<div class="ctxt">

				<label class="checkbox inline">
					<input type="checkbox"> 
					Padre
				</label>

				<label class="checkbox inline">
					<input type="checkbox">
					Madre
				</label>

			</div>
			

			<br />

			<div class="bd">

				<div class="col-group-2">

					<div class="column">
						
						<div class="mod mod-bordered">

							<div class="hd">
								<h2>Padre</h2> 					
							</div>
							<div class="bd">
								
								<div class="control-group">
									<div class="control-label">Nombre</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Primer Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Segundo Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

							</div>

						</div>

					</div>
					<div class="column">
						
						<div class="mod mod-bordered">

							<div class="hd">
								<h2>Madre</h2> 					
							</div>

							<div class="bd">
								
								<div class="control-group">
									<div class="control-label">Nombre</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Primer Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Segundo Apellido</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
		
			
		</div>

		<br>

		<h3>Datos del Matrimonio por Poder</h3> 

		<div class="mod mod-bordered">
			<div class="hd strong">
				CUANDO COMPAREZCA UNA PERSONA CON PODER ESPECIALÍSIMO EN REPRESENTACIÓN DE UNA DE LAS PERSONAS CONTRAYENTES,DEBEN ASIGNARSE LOS SIGUIENTES DATOS
			</div>
			<div class="bd">

				<div class="control-group">
					<label class="checkbox">
						<input type="checkbox">
						Extranjero
					</label>
				</div>

				<div class="control-group">
					<div class="control-label">Cédula o Doc. de Identi.</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Nombre</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>
				
				<div class="control-group">
					<div class="control-label">Primer Apellido</div>
						<div class="controls">
						<input type="text" />
						<label class="dinline-block">Segundo Apellido</label>
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="checkbox">
						<input type="checkbox">
						No indica
					</label>
				</div>

			</div>
			
		</div>

		<br>	

		<div class="ctxt">

			<button class="btn btn-blue">Generar Reporte</button>
			<button class="btn btn-blue">Enviar por correo electrónico</button>
			<button class="btn btn-blue">Realizar nueva consulta</button>

		</div>

	</fieldset>
</form>