<form class="form-horizontal">
	<h2>Registro de Matrimonio Católico</h2>	
	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Católico</h3>
		</legend>

		<hr />

		<div class="col-group-2">

			<div class="column">
				
				<div class="mod mod-bordered">
					<div class="hd">
					
						<h2>Datos del Contrayente (al Momento del matrimonio)</h2> 
						<label class="checkbox">
							<input type="checkbox">
							Extranjero
						</label>
					
					</div>
					<div class="bd">
						
						<div class="control-group">
							<div class="control-label">Cédula o Doc. de Identi.</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Segundo Apellido</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="checkbox">
								<input type="checkbox">
								No indica
							</label>
						</div>

						<div class="control-group">
							<div class="control-label">Conocido Como:</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Nacionalidad</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="mod mod-bordered">
							<div class="hd strong">Pais de Origen y Edad Cumplida</div>
							<div class="bd">

								<div class="control-group">
									<div class="control-label">Pais de Origen</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Años</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>
								
							</div>
							
						</div>

						<div class="control-group">
							<div class="control-label">Profesión u Oficio:</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="mod mod-bordered">
							<div class="hd strong">Residencia Habitual</div>
							<div class="bd">

								<div class="control-group">
									<div class="control-label">Provincia</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Cantón</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Distrito</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>
								
							</div>
							
						</div>

						<div class="mod mod-bordered">
							<div class="hd strong">Estado Civil</div>
							<div class="bd">

								<div class="control-group small bordeinferior">
									
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Soltero
										</label>
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Viudo
										</label>
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Divorciado
										</label>
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Union de Hecho
										</label>
									
								</div>

								<hr />

								<div class="control-group">
									<div class="control-label">Nombre y Apellidos de la Cónyugue anterior</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Lugar del divorcio o Viudez</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Fecha</div>
									<div class="controls">
										<input type="text" class="input-small" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Numero de Matrimonios</div>
									<div class="controls">
										<input type="text" class="input-mini" />
									</div>
								</div>
								
							</div>
							
						</div>

					</div>

				</div>

			</div>
				
			<div class="column">

				<div class="mod mod-bordered">
					<div class="hd">
					
						<h2>Datos de la Contrayente (al Momento del matrimonio)</h2> 
						<label class="checkbox">
							<input type="checkbox">
							Extranjero
						</label>
					
					</div>
					<div class="bd">
						
						<div class="control-group">
							<div class="control-label">Cédula o Doc. de Identi.</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Segundo Apellido</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="checkbox">
								<input type="checkbox">
								No indica
							</label>
						</div>

						<div class="control-group">
							<div class="control-label">Conocida Como:</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="control-group">
							<div class="control-label">Nacionalidad</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="mod mod-bordered">
							<div class="hd strong">Pais de Origen y Edad Cumplida</div>
							<div class="bd">

								<div class="control-group">
									<div class="control-label">Pais de Origen</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Años</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>
								
							</div>
							
						</div>

						<div class="control-group">
							<div class="control-label">Profesión u Oficio:</div>
							<div class="controls">
								<input type="text" />
							</div>
						</div>

						<div class="mod mod-bordered">
							<div class="hd strong">Residencia Habitual</div>
							<div class="bd">

								<div class="control-group">
									<div class="control-label">Provincia</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Cantón</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Distrito</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>
								
							</div>
							
						</div>

						<div class="mod mod-bordered">
							<div class="hd strong">Estado Civil</div>
							<div class="bd">

								<div class="control-group small bordeinferior">
									
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Soltera
										</label>
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Viuda
										</label>
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Divorciada
										</label>
										<label class="radio inline" for="radioId">
										<input type="radio" name="radio">
											Union de Hecho
										</label>
									
								</div>

								<hr />

								<div class="control-group">
									<div class="control-label">Nombre y Apellidos del Cónyugue anterior</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Lugar del divorcio o Viudez</div>
									<div class="controls">
										<input type="text" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Fecha</div>
									<div class="controls">
										<input type="text" class="input-small" />
									</div>
								</div>

								<div class="control-group">
									<div class="control-label">Numero de Matrimonios</div>
									<div class="controls">
										<input type="text" class="input-mini" />
									</div>
								</div>
								
							</div>
							
						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="ctxt">

			<button class="btn btn-blue">Generar Reporte</button>
			<button class="btn btn-blue">Enviar por correo electrónico</button>
			<button class="btn btn-blue">Realizar nueva consulta</button>

		</div>

	</fieldset>
</form>

