<form class="form-horizontal">
	<h2>Registro de Matrimonio Católico</h2>	
	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Católico</h3>
		</legend>
			
			<div class="control-group">
				<div class="control-label">Cédula o Doc. de Identi.</div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">Nombre</div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>
			
			<div class="control-group">
				<div class="control-label">Primer Apellido</div>
					<div class="controls">
					<input type="text" />
					<label class="dinline-block">Segundo Apellido</label>
					<input type="text" />
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">Cédula o Doc. de Identi.</div>
				<div class="controls">
					<input type="text" />
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">Cura párroco de la parroquia de:</div>
				<div class="controls">
					<input type="text" class="input-large"/>
				</div>
			</div>

			<div class="control-group labels">
				<div class="controls">
					<label class="input-large">Provincia</label>
					<label class="input-large">Cantón</label>
					<label class="input-large">Distrito</label>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="input-large" type="text">
					<input class="input-large" type="text">
					<input class="input-large" type="text">
				</div>
			</div>

			<hr />

			<div class="control-group">
				
				<label class="dinline-block">Certifico que el folio número</label>
				<input type="text" class="input-small" />
				<label class="dinline-block">del tomo</label>
				<input type="text" class="input-small" />
				<label class="dinline-block">En la Iglesia del</label>
				<input type="text" class="input-large" />
				<label class="dinline-block">de la:</label>
				
			</div>

			<br />

			<div class="bd"><!--Provincia-->

				<div class="control-group">

					<div class="control-group labels">
						<div class="controls">
							<label class="input-large">Provincia</label>
							<label class="input-large">Cantón</label>
							<label class="input-large">Distrito</label>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input class="input-large" type="text">
							<input class="input-large" type="text">
							<input class="input-large" type="text">
						</div>
					</div>	

				</div>
			
			</div>

			<br />

			<label class="dinline-block">
				Del libro de actas Matrimoniales que lleva esta parroquia se registrara la que literalmente dice:
			</label>

			
			<div class="bd">

				<div class="strong">
					Nombre y Apellidos del Sacerdote que efectuó el matrimonio
				</div>

				<br /	>

				<div class="control-group">
					<div class="control-label">Nombre</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>
				
				<div class="control-group">
					<div class="control-label">Primer Apellido</div>
						<div class="controls">
						<input type="text" />
						<label class="dinline-block">Segundo Apellido</label>
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="checkbox">
						<input type="checkbox">
						No indica
					</label>
				</div>

			</div>

			<br />

			<label class="dinline-block">
				Del libro de actas Matrimoniales que lleva esta parroquia se registrara la que literalmente dice:
			</label>

			<br />

			<div class="control-group">
				<div class="controls">
					<label class="dinline-block">A las</label>
					<input type="text" class="input-small" />
					<label class="dinline-block">el día</label>
					<input type="text" class="input-small" />
					<label class="dinline-block">mes</label>
					<input type="text" class="input-small" />
					<label class="dinline-block">año</label>
					<input type="text" class="input-small" />
				</div>
			</div>

			<br />

			<div class="ctxt">

				<button class="btn btn-blue">Generar Reporte</button>
				<button class="btn btn-blue">Enviar por correo electrónico</button>
				<button class="btn btn-blue">Realizar nueva consulta</button>

			</div>

	</fieldset>

</form>