<div class="mod">
    <fieldset class="form-horizontal">
        <h2 class="bordeinferior">Datos del Padre</h2> 
        <div class="bd">
            <div class="control-group small">
                <label class="control-label"><input type="radio"> Extranjero</label>                                                                                                                     </div>
            
            <div class="control-group small">
                <label class="control-label">Cédula o doc.de Identi.:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                    <button class="btn btn-blue">Buscar</button>
                </div>
            </div>
    
            <div class="control-group small">
                <label class="control-label">Nombres:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input class="span6" type="text">
                </div>
            </div>
            
            <div class="form-special-horizontal">
                
                <div class="control-group small">
                    <label class="control-label">Primer Apellido:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                                                                                                                                    
                <div class="control-group small">
                    <label class="control-label">Segundo Apellido:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                     
            </div> 
            
            <div class="form-special-horizontal bordeinferior">                                                                    
                <div class="control-group small">
                    <label class="control-label">Edad:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input class="input-mini" type="text">
                    </div>
                </div>
            
                <div class="control-group small">
                    <label class="control-label">País de Origen:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
       
                <div class="control-group small">
                    <label class="control-label">Nacionalidad:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
            </div>                                                                       
                
            <div class="control-group small">
                <label class="control-label">Estado Civil:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>
            
            <div class="form-special-horizontal bordeinferior">                                                                                                                                        
                <div class="control-group small">
                    <label class="control-label">Profesión u Oficio:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
    
            
                <div class="control-group small">
                    <label class="control-label">Especifique:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input  type="text">
                    </div>
                </div>
            </div>                                                                         
                                                                    
            <div class="control-group small">
                <label class="control-label">Ultimo año aprobado:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>                    
        
            <div class="control-group small">
                <label class="control-label">Total de hijos/as tenidos vivos:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                   <input  class="input-mini" type="text">
                </div>
            </div>
            
            <div class="control-group small bordeinferior">
                <label class="control-label">Residencia Habitual:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <label for="radioId" class="checkbox inline">
                        <input type="radio">
                        Territorio Nacional
                    </label>
                    <label for="radioId" class="radio inline">
                        <input type="radio">
                        Extranjero
                    </label>
                </div>
            </div>
        
            <div class="form-special bordeinferior">                                                                                                                    
                <div class="control-group medium">
                    <label class="control-label">Provincia:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>                                
                <div class="control-group medium">
                    <label class="control-label">Cantón:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>       
                <div class="control-group medium">
                    <label class="control-label">Distrito:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
            
                <div class="control-group medium">
                    <label class="control-label">Barrio ó Caserio:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input  type="text">
                    </div>
                </div>
            </div>                                                                 
    
            <div class="bordeinferior">                                                                                                                    
                <div class="control-group small">
                    <label class="control-label">Paìs:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>                                
    
                <div class="control-group small">
                    <label class="control-label">Barrio ó Caserio:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <textarea class="span6" rows="5" ></textarea>
                    </div>
                </div>
            </div>                                                                 
        
        </div>    
    </fieldset>

</div>