<fieldset class="form-horizontal">
    <h2 class="bordeinferior">Datos de la Madre</h2>
    <div class="bd">
        
        <div class="control-group small">
            <label class="control-label"><input type="radio"> Extranjero</label>                                                
        </div>
        
        <div class="control-group small">
            <label class="control-label">Cédula o doc.de Identi.:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input type="text">
                <button class="btn btn-blue">Buscar</button>
            </div>
        </div>

        <div class="control-group small">
            <label class="control-label">Nombres:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input class="span6" type="text">
            </div>
        </div>
        
        <div class="form-special-horizontal">
            
            <div class="control-group small">
                <label class="control-label">Primer Apellido:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
                                                                                                                                
            <div class="control-group small">
                <label class="control-label">Segundo Apellido:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
                 
        </div> 
        
        <div class="form-special-horizontal bordeinferior">                                                                    
            <div class="control-group small">
                <label class="control-label">Edad:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input class="input-mini" type="text">
                </div>
            </div>
        
            <div class="control-group small">
                <label class="control-label">País de Origen:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>
   
                                                        <div class="control-group small">
                <label class="control-label">Nacionalidad:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>
        </div>                                                                       
            
        <div class="control-group small">
            <label class="control-label">Estado Civil:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div> 
        
        <div class="control-group small">
            <label class="control-label">Nombre  y apellidos del conyuge anterior:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input  type="text">
            </div>
        </div>
        
        <div class="control-group small">
            <label class="control-label">Lugar de Divorcio o Viudez:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input  type="text">
            </div>
        </div>
   
        <div class="form-special-horizontal">
            <div class="control-group small">
                <label class="control-label">Fecha de Suceso:</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-medium">
                        <button data-toggle="datepicker" class="btn" type="button"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>                                                            
        </div>
        
        <div class="form-special-horizontal bordeinferior">                                                                                                                                        
            <div class="control-group small">
                <label class="control-label">Profesión u Oficio:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>

        
            <div class="control-group small">
                <label class="control-label">Especifique:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input  type="text">
                </div>
            </div>
        </div>                                                                         
                                                                        
        <div class="control-group small">
            <label class="control-label">Ultimo año aprobado:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div>                    
    
        <div class="control-group small">
            <label class="control-label">Total de hijos/as tenidos vivos:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
               <input  class="input-mini" type="text">
            </div>
        </div>    
        
        <div class="control-group small bordeinferior">
            <label class="control-label">Observaciones Relativas al estado Civil de la Madre:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
               <textarea class="span6" rows="5" ></textarea>
            </div>
        </div>
    
        <div class="control-group small">
            <label class="control-label">Residencia Habitual:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <label for="radioId" class="checkbox inline">
                    <input type="radio">
                    Territorio Nacional
                </label>
                <label for="radioId" class="radio inline">
                    <input type="radio">
                    Extranjero
                </label>
            </div>
        </div>
    
        <div class="form-special bordeinferior">                                                                                                                    
            <div class="control-group medium">
                <label class="control-label">Provincia:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>                                
            <div class="control-group medium">
                <label class="control-label">Cantón:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>       
            <div class="control-group medium">
                <label class="control-label">Distrito:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>
        
            <div class="control-group medium">
                <label class="control-label">Barrio ó Caserio:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input  type="text">
                </div>
            </div>
        </div>                                                                 

        <div class="bordeinferior">                                                                                                                    
            <div class="control-group small">
                <label class="control-label">Paìs:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>                                

        
            <div class="control-group small">
                <label class="control-label">Barrio ó Caserio:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <textarea class="span6" rows="5" ></textarea>
                </div>
            </div>
        </div>  
        
        <div class="form-special-horizontal">
            <div class="control-group small">
                <label class="control-label">Este parto fue atendido por:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Otra persona: 
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                </div>
            </div> 
            <div class="control-group small">
                <label class="control-label">Semanas de Embarazo: 
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input class="input-mini"  type="text">
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span4">
                <div class="mod mod-bordered">
                    <div class="hd"><h3>Incluyendo este nacimiento ,anote</h3></div>
                    <div class="bd">
                        <div class="control-group small">
                            <label class="control-label">Semanas de Embarazo: 
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input class="input-mini"  type="text">
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="span4">
                <div class="mod mod-bordered">
                    <div class="hd"><br /></div>
                    <div class="bd">
                        <div class="control-group small">
                            <label class="control-label">Cuántos abortos ha tenido?: 
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input class="input-mini"  type="text">
                            </div>
                        </div>         
                        <div class="control-group small">
                            <label class="control-label">Fallecidos/as de menos de 22 semanas: 
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input class="input-mini"  type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                                                        
            <div class="span4">
                <div class="mod mod-bordered">
                    <div class="hd">
                    <h3>Cuántos consultas recibió en este embarazo?</h3>
                    </div>
                    <div class="bd">
                        <div class="control-group small">
                            <label class="control-label">1. Total: 
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input class="input-mini"  type="text">
                            </div>
                        </div>         
                        <div class="control-group small">
                            <label class="control-label">2. Por Médico: 
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input class="input-mini"  type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="mod mod-bordered">
            <div class="hd">
                <h3>Madre solicita se aplique ley de paternidad responsable(8101)</h3>
            </div>
            <div class="bd">
                <div class="ctxt">
                    <input type="radio"> Si          
                    <input type="radio"> No
                </div>    
            </div>
        </div>
        
        <div class="control-group small">
            <label class="control-label">Madre asiente que:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input class="span4" type="text">
                firme como padre de su hijo/a.
            </div>
        </div>
        
    </div>
</fieldset>