<fieldset class="form-horizontal">
    <h2 class="bordeinferior">Datos Menor de Edad</h2>
    <div class="control-group small">
        <label class="control-label">Nombres:
            <span class="state-required">(<b>*</b>)</span>
        </label>
        <div class="controls">
            <input type="text">
        </div>
    </div>
    
    <div class="form-special-horizontal">
        
        <div class="control-group small">
            <label class="control-label">Primer Apellido:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input type="text">
            </div>
        </div>
                                                                                                                            
        <div class="control-group small">
            <label class="control-label">Segundo Apellido:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input type="text">
            </div>
        </div>
             
    </div> 
                                                                                                                
    <div class="form-special-horizontal">

        <div class="control-group small">
            <label class="control-label">Esta declaración es de un niño nacido:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div>
        <div class="control-group small">
            <label class="control-label">Sexo:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div>
        
    </div>
    
    <div class="form-special-horizontal bordeinferior">
        <div class="control-group small">
            <label class="control-label">Peso en gramos:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input class="input-mini" type="text">
            </div>
        </div>                   
        <div class="control-group small">
            <label class="control-label">Estatura en cm:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input class="input-mini" type="text">
            </div>
        </div>
    </div>
        
    <div class="control-group small">
        <label class="control-label">Lugar de nacimiento:
            <span class="state-required">(<b>*</b>)</span>
        </label>
        <div class="controls">
            <label for="radioId" class="checkbox inline">
                <input type="radio">
                Territorio Nacional
            </label>
            <label for="radioId" class="radio inline">
                <input type="radio">
                Extranjero
            </label>
        </div>
    </div>
        
    <div class="form-special">                                                                                                                    
        <div class="control-group medium">
            <label class="control-label">Provincia:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div>                                
        <div class="control-group medium">
            <label class="control-label">Cantón:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div>       
        <div class="control-group medium">
            <label class="control-label">Distrito:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div>
    
        <div class="control-group medium">
            <label class="control-label">Barrio ó Caserio:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <input  type="text">
            </div>
        </div>
        
        <div class="control-group medium">
            <label class="control-label">Paìs:
                <span class="state-required">(<b>*</b>)</span>
            </label>
            <div class="controls">
                <select>
                    <option>option</option>
                    <option>option</option>
                    <option>option</option>
                </select>
            </div>
        </div> 
        
    </div>
    
    <div class="control-group small">
        <label class="control-label">Nacido en:
            <span class="state-required">(<b>*</b>)</span>
        </label>
        <div class="controls">
            <label for="radioId" class="checkbox inline">
                <input type="radio">
                Su Hogar
            </label>
            <label for="radioId" class="radio inline">
                <input type="radio">
                Institución Hospitalaria
            </label>
            <label for="radioId" class="radio inline">
                <input type="radio">
                Otro Lugar
            </label>
        </div>
    </div>
    
    <div class="control-group small">
        <label class="control-label">Lugar Nacimiento: 
            <span class="state-required">(<b>*</b>)</span>
        </label>
        <div class="controls">
            <textarea class="span6" rows="5" ></textarea>
        </div>
    </div>

</fieldset>