<h2 class="bordeinferior">Datos de Persona Registradora</h2>
<div class="mod mod-clean">
    
    <div class="hd">
        <h3 class="ctxt">Datos de la Persona Registradora</h3> 
    </div>
    <div class="bd">
        <fieldset class="form-horizontal">
        
            <div class="control-group small">
                <label class="control-label">Nombre y Apellidos:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input class="span6" type="text">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Lugar:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input class="span6" type="text">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Código:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Fecha de declaración:</label>
                <div class="controls">
                    <div class="form-special">
                        <div class="control-group medium">
                            
                            <div class="controls">
                                <div class="input-append">
                                    <input type="text" class="input-medium ng-pristine ng-valid" id="inputdesde" value="" ng-model="datepickerdesde.date" data-ng-keyup="keyupDesde()" data-date-format="dd/mm/yyyy" bs-datepicker="" data-ng-change="cambiarDesde()">
                                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                </div>
                            </div>
                        </div>                                                            
                                                                          
                    </div>
                </div>
            </div>
            <div class="mod mod-bordered">
                <div class="hd">
                    <h3>Certificado inscrito en:</h3>
                </div>
                <div class="bd">
                    <div class="form-special-horizontal">

                        <div class="control-group mini">
                            <label class="control-label">Provincia:</label>
                            <div class="controls">
                                <input class="input-mini" type="text">
                            </div>
                        </div>                                                            
                        <div class="control-group mini">
                            <label class="control-label">Tomo:</label>
                            <div class="controls">
                                <input class="input-mini" type="text">
                            </div>
                        </div>                                                            
                        <div class="control-group mini">
                            <label class="control-label">Folio:</label>
                            <div class="controls">
                                <input class="input-mini" type="text">
                            </div>
                        </div>                                                            
                        <div class="control-group mini">
                            <label class="control-label">Asiento:</label>
                            <div class="controls">
                                <input class="input-mini" type="text">
                            </div>
                        </div>                                                            
                        
                                                                                                                                                                                                                                                                                  
                    </div>
                </div>
            </div>
            <hr />
            
        </fieldset>
    </div>
</div>          