<h2 class="bordeinferior">Datos de Personas Declarantes</h2>
<div class="row-fluid">

    <div class="span6">
    
        <div class="mod">
        
            <div class="hd">
                <h3>Así lo declaran</h3>
            </div>
            
            <div class="bd">
                <fieldset class="form-horizontal">
                    <div class="control-group small">
                        <label class="control-label"><input type="radio" value="" id="radioId" name=""> Extranjero</label>                                              
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Como:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Cédula o doc.de Identi.:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    <div class="control-group small">
                        <label class="control-label">Nombre:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    <div class="control-group small">
                        <label class="control-label">Primer Apellido:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    <div class="control-group small">
                        <label class="control-label">Segundo Apellido:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>
                    <hr>
                    <h4>Dirección de la Persona Declarante</h4>
                    <div class="control-group small">
                        <label class="control-label">Residencia Habitual:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Provincia:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Cantón:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Distrito:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Barrio ó Caserio:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Referencia:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <textarea class="span12" rows="5" ></textarea>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Lugar de residensia:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>               
                    <div class="control-group small">
                        <label class="control-label">Dirección de su casa:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>
                    
                    <p  class="parrafosolo">Por medio de un punto de referencia, plaza, pulpería, camino, finca,río,nº. calle,avenida, casa,etc.</p>
                    
                    <hr />

                    <div class="control-group small">
                        <label class="control-label">Teléfono:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input type="text">
                        </div>
                    </div> 
                    <div class="control-group small">
                        <label class="control-label">Correo Electronico:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    
                </fieldset>
                
            </div>
        
            
        </div>
        
    </div>
    
    <div class="span6">
        
         <div class="mod">
        
            <div class="hd">
                <h3>Así lo declaran</h3>
            </div>
             
            <div class="bd">
                <fieldset class="form-horizontal">
                    <div class="control-group small">
                        <label class="control-label"><input type="radio" value="" id="radioId" name=""> Extranjero</label>                                              
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Como:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Cédula o doc.de Identi.:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    <div class="control-group small">
                        <label class="control-label">Nombre:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    <div class="control-group small">
                        <label class="control-label">Primer Apellido:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    <div class="control-group small">
                        <label class="control-label">Segundo Apellido:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>
                    <hr>
                    <h4>Dirección de la Persona Declarante</h4>
                    <div class="control-group small">
                        <label class="control-label">Residencia Habitual:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Provincia:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Cantón:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Distrito:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <select>
                                <option>option</option>
                                <option>option</option>
                                <option>option</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Barrio ó Caserio:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Referencia:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <textarea class="span12" rows="5" ></textarea>
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Lugar de residensia:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>               
                    <div class="control-group small">
                        <label class="control-label">Dirección de su casa:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>
                    
                    <p  class="parrafosolo">Por medio de un punto de referencia, plaza, pulpería, camino, finca,río,nº. calle,avenida, casa,etc.</p>
                    
                    <hr />

                    <div class="control-group small">
                        <label class="control-label">Teléfono:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input type="text">
                        </div>
                    </div> 
                    <div class="control-group small">
                        <label class="control-label">Correo Electronico:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input class="span12" type="text">
                        </div>
                    </div>                                                                        
                    
                </fieldset>
                
            </div>
            
            
        </div>
        
    </div>
    
</div>
