<div class="mod">
    <fieldset class="form-horizontal">
        <h2 class="bordeinferior">Datos de la Persona Fallecida</h2> 
        <div class="bd">
            <div class="control-group small">
                <label class="control-label"><input type="radio"> Extranjero</label>                                                                                                                                                   </div>
            
            <div class="control-group small">
                <label class="control-label">Cédula o doc.de Identi.:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                
                </div>
            </div>

            <div class="control-group small">
                <label class="control-label">Nombres:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input class="span6" type="text">
                </div>
            </div>
            
            <div class="form-special-horizontal">
                
                <div class="control-group small">
                    <label class="control-label">Primer Apellido:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                                                                                                                                    
                <div class="control-group small">
                    <label class="control-label">Segundo Apellido:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                     
            </div> 
            
            <div class="form-special-horizontal bordeinferior">                                                                    
                <div class="control-group mini">
                    <label class="control-label">Edad:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input class="input-mini" type="text">
                    </div>
                </div>
            
                <div class="control-group small">
                    <label class="control-label">País de Origen:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
   
                                                        <div class="control-group small">
                    <label class="control-label">Nacionalidad:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
                <div class="control-group mini">
                    <label class="control-label"><input type="checkbox"> No indica</label>                                              
                </div>
                
            </div>                                                                       
                
            <div class="control-group small">
                <label class="control-label">Estado Civil:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>
            
            <div class="form-special-horizontal bordeinferior">                                                                                                                                        
                <div class="control-group small">
                    <label class="control-label">Profesión u Oficio:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>

            
                <div class="control-group small">
                    <label class="control-label">Especifique:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input  type="text">
                    </div>
                </div>
            </div>                                                                         
                                                                    
            <div class="control-group small">
                <label class="control-label">Ultimo año aprobado:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <select>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
            </div>                    
        
            <div class="control-group small bordeinferior">
                <label class="control-label">Total de hijos/as tenidos vivos:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                   <input  class="input-mini" type="text">
                </div>
            </div>
            
            <div class="control-group small ">
                <label class="control-label">Residencia Habitual:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <label for="radioId" class="checkbox inline">
                        <input type="radio">
                        Territorio Nacional
                    </label>
                    <label for="radioId" class="radio inline">
                        <input type="radio">
                        Extranjero
                    </label>
                </div>
            </div>
        
            <div class="form-special bordeinferior">                                                                                                                    
                <div class="control-group medium">
                    <label class="control-label">Provincia:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>                                
                <div class="control-group medium">
                    <label class="control-label">Cantón:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>       
                <div class="control-group medium">
                    <label class="control-label">Distrito:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>
            
                <div class="control-group medium">
                    <label class="control-label">Barrio ó Caserio:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <input  type="text">
                    </div>
                </div>
            </div>                                                                 

            <div class="bordeinferior">                                                                                                                    
                <div class="control-group small">
                    <label class="control-label">Paìs:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>                                

                <div class="control-group small">
                    <label class="control-label">Barrio ó Caserio:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <textarea class="span6" rows="5" ></textarea>
                    </div>
                </div>
            </div>                                                                 
        
            <div class="mod mod-clean">
                <div class="hd">
                    <h3>Causas de Defunción</h3>
                    
                </div>
                <div class="bd">

                    <table class="table-zebra">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Tipo Condición</th>
                                <th>Tipo Causa</th>
                                <th>Descripción causa</th>
                                <th>Intervalo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Condición patológica</td>
                                <td>Causa directa o inmediata</td>
                                <td>Descripción</td>
                                <td>Intervalo 1</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Condición patológica</td>
                                <td>Causa directa o inmediata</td>
                                <td>Descripción</td>
                                <td>Intervalo 2</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Condición patológica</td>
                                <td>Causa directa o inmediata</td>
                                <td>Descripción</td>
                                <td>Intervalo 3</td>

                            </tr>
                        </tbody>
                    </table>
     
                </div>
            </div>
            
            <div class="mod mod-bordered">
                <div class="hd">
                    <h3>Causas de Defunción</h3>
                    
                </div>
                <div class="bd">

                <div class="control-group small">
                    <label class="control-label">Seleccionar:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <select>
                            <option>option</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                </div>                                

                <div class="control-group small">
                    <label class="control-label">Descríbanse los medios usados, y en caso de accidente, el tipo, circunstancias y lugar:
                        <span class="state-required">(<b>*</b>)</span>
                    </label>
                    <div class="controls">
                        <textarea class="span6" rows="5" ></textarea>
                    </div>
                </div>
     
                </div>
            </div>  
            
            <div class="row-fluid">
                <div class="span4">
                    <div class="mod mod-bordered">
                        <div class="hd"><h3>Fecha de Operación:</h3></div>
                        <div class="bd">
                            <div class="form-special">
                                <div class="control-group small">
                                    <label class="control-label">Fecha de Suceso:</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="text" data-ng-change="cambiarDesde()" bs-datepicker="" data-date-format="dd/mm/yyyy" data-ng-keyup="keyupDesde()" ng-model="datepickerdesde.date" value="" id="inputdesde" class="input-medium ng-pristine ng-valid">
                                            <button data-toggle="datepicker" class="btn" type="button"><i class="icon-calendar"></i></button>
                                        </div>
                                    </div>
                                </div>                                                            
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="span4">
                    <div class="mod mod-bordered">
                        <div class="hd"><h3>Hallazgos:</h3></div>
                        <div class="bd">
                           
                                <textarea class="span12" rows="5" ></textarea>
                             
                        </div>
                    </div>
                </div>                                                                        
                <div class="span4">
                    <div class="mod mod-bordered">
                        <div class="hd">
                            <h3>Se realizó autopsia:</h3>
                        </div>
                        <div class="bd">
                            <label for="radioId" class="radio inline">
                                <input type="radio">
                                Si
                            </label>
                            <label for="radioId" class="radio inline">
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>                                                                    
            
            <div class="mod mod-bordered">
            
                <div class="hd">
                    <h3>Asistencia  médica en esa(s) enfermedad(es):</h3>
                </div>
                <div class="bd">
                    <div class="row-fluid">
                        <div class="span4">
                            <label for="radioId" class="radio inline">
                                <input type="radio">
                                Si
                            </label>
                            <label for="radioId" class="radio inline">
                                <input type="radio">
                                No
                            </label>
                        </div>
                        <div class="span8">
                            <div class="control-group small">
                                <label class="control-label">Fecha:</label>
                                <div class="controls">
                                    <div class="form-special">
                                        <div class="control-group medium">
                                            <label class="control-label">Desde:</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="text" class="input-medium ng-pristine ng-valid" id="inputdesde" value="" ng-model="datepickerdesde.date" data-ng-keyup="keyupDesde()" data-date-format="dd/mm/yyyy" bs-datepicker="" data-ng-change="cambiarDesde()">
                                                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                                </div>
                                            </div>
                                        </div>                                                            
                                        <div class="control-group medium">
                                            <label class="control-label">Hasta:</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="text" class="input-medium ng-pristine ng-valid" id="inputdesde" value="" ng-model="datepickerdesde.date" data-ng-keyup="keyupDesde()" data-date-format="dd/mm/yyyy" bs-datepicker="" data-ng-change="cambiarDesde()">
                                                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                                </div>                                                                      
                                            </div>
                                        </div>                                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                                                                
            <div class="mod mod-bordered">
            
                <div class="hd">
                    <h3>Nombre del Profesional que certifica la defunción</h3>
                </div>
                <div class="bd">
                    
                    <div class="form-special">
                        
                        <div class="control-group medium">
                            
                            <div class="controls">
                               <input type="text" class="span6">
                                <span class="help-inline">Indicar nombre de la persona registradora de un hospital</span>
                            </div>
                        </div>                                                            
                        
                                                                                                                                                                                                                                                                                  
                    </div>
                    
                 
                    
                    <div class="control-group small">
                        <label class="control-label"><input type="radio"> Extranjero</label>                                                                                                                     </div>
                    
                    <div class="control-group small">
                        <label class="control-label">Cédula o Documento de Identidad:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input type="text">
                        </div>
                    </div>
                    <div class="control-group small">
                        <label class="control-label">Código:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input type="text">
                        </div>
                    </div>
                    
                    <div class="control-group small">
                        <label class="control-label">Nombres:
                            <span class="state-required">(<b>*</b>)</span>
                        </label>
                        <div class="controls">
                            <input type="text">
                        </div>
                    </div>  
                   
                    <div class="form-special-horizontal">
                        
                        <div class="control-group small">
                            <label class="control-label">Primer Apellido:
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input type="text">
                            </div>
                        </div>
                                                                                                                                            
                        <div class="control-group small">
                            <label class="control-label">Segundo Apellido:
                                <span class="state-required">(<b>*</b>)</span>
                            </label>
                            <div class="controls">
                                <input type="text">
                            </div>
                        </div>
                             
                    </div>
                    <div class="control-group small">
                        <label class="control-label"><input type="radio"> No indica</label>                                                                                                                     </div>
                    
                </div>
           
            </div>
            
            
        </div>    
    </fieldset>
    <hr />
</div>
                                                        
