<h2 class="bordeinferior">Datos de Personas Declarantes</h2>

<div class="mod">
    <div class="hd">
    </div>
    <div class="bd">
        <fieldset class="form-horizontal">
            <div class="control-group small">
                <label class="control-label"><input type="radio"> Extranjero</label>                                              
            </div>
            <div class="control-group small">
                <label class="control-label">Cédula o doc. de Identi.:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Nombre:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Primer Apellido:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Segundo Apellido:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label"><input type="checkbox"> No indica</label>                                              
            </div>
        </fieldset>
    </div>
</div>                                                        

<div class="mod mod-clean">
    <div class="hd">
    </div>
    <div class="bd">
        <fieldset class="form-horizontal">
            <div class="control-group small">
                <label class="control-label">Dirección del declarante por calles y avenidas , no de casa o cualquier otro punto de referencia:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <textarea class="span6" rows="5"></textarea>
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Nombre:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Teléfono:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Correo Electrónico:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Parentesco con el/la fallecido/a:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
        </fieldset>
    </div>
</div> 


<div class="mod">
    <div class="hd">
        <h3>SI NO SABE FIRMAR , LO HARÁ OTRA PERSONA A RUEGO</h3>
    </div>
    <div class="bd">
        <fieldset class="form-horizontal">
            <div class="control-group small">
                <label class="control-label"><input type="radio"> Extranjero</label>                                              
            </div>
            <div class="control-group small">
                <label class="control-label">Cédula o doc. de Identi.:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Nombre:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Primer Apellido:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label">Segundo Apellido:
                    <span class="state-required">(<b>*</b>)</span>
                </label>
                <div class="controls">
                    <input type="text" class="span6">
                </div>
            </div>
            <div class="control-group small">
                <label class="control-label"><input type="checkbox"> No indica</label>                                              
            </div>
        </fieldset>
    </div>
</div>