<form class="form-horizontal">
	<h2>Registro de Matrimonio Civil</h2>	
	<fieldset class="mod mod-bordered">

		<legend class="hd">
			<h3>Tipo: Inscripcion Matrimonio Civil</h3>
		</legend>

		<div class="centerTwo">

			<div class="row-fluid">

				<div class="span6">

					<div class="control-group small">
						<div class="control-label">Primer Nombre</div>
						<div class="controls">
							<input type="text" />
						</div>
					</div>

					<div class="control-group small">
						<div class="control-label">Primer Apellido</div>
						<div class="controls">
							<input type="text" />
						</div>
					</div>

				</div>

				<div class="span6">

					<div class="control-group small">
						<div class="control-label">Segundo Nombre</div>
						<div class="controls">
							<input type="text" />
						</div>
					</div>

					<div class="control-group small">
						<div class="control-label">Segundo Apellido</div>
						<div class="controls">
							<input type="text" />
						</div>
					</div>

				</div>

			</div>
		
		</div>	
				

		<div class="centerThree">

			<div class="row-fluid">

				<div class="span4 mod mod-bordered">
					<div class="hd">
						Sexo
					</div>
					<div class="bd">

						<label class="radio inline">
							<input type="radio">
							Hombre
						</label>

						<label class="radio inline">
							<input type="radio">
							Mujer
						</label>

						<label class="radio inline">
							<input type="radio">
							Indeterminado
						</label>

					</div>
					
				</div>

				<div class="span7 mod mod-bordered">
					
					<div class="hd">
						Fecha de Ocurrencia
					</div>
					<div class="bd">

						<div class="control-group mini">
								
							<label class="dinline-block input-mini">Día</label>
							<input type="text" class="input-mini">
							<label class="dinline-block input-mini">Mes</label>
							<input type="text" class="input-mini">
							<label class="dinline-block input-mini">Año</label>
							<input type="text" class="input-mini">
									
						</div>

					</div>

				</div>

			</div>

		</div>

		

		<div class="mod mod-bordered row-fluid">

			<div class="hd">
				Ocurrio en:
			</div>

			<div class="bd">

				<div class="ctxt">
					<label class="radio inline">
						<input type="radio">
						Su Hogar
					</label>

					<label class="radio inline">
						<input type="radio">
						Institucion
					</label>

					<label class="dinline-block input-large">Nombre del hospital u Otro Lugar:</label>
					<input type="text" class="input-large">

				</div>

				

			</div>

		</div>

		<div class="row-fluid">

			<div class="span4 mod mod-bordered">
				
				<div class="hd">
					Periodo de Gestación (22 SEMANAS O MAS):
				</div>

				<div class="bd">

					<label class="dinline-block input-small">En semanas:</label>
					<input type="text" class="input-small">

				</div>

			</div>

			<div class="span3 mod mod-bordered">
				
				<div class="hd">
					Peso
				</div>

				<div class="bd">

					<label class="dinline-block input-mini">En Gramos:</label>
					<input type="text" class="input-mini">

				</div>

			</div>

			<div class="span5 mod mod-bordered">
				
				<div class="hd">
					Este Parto fue atendido por:
				</div>

				<div class="bd">

					<label class="radio inline">
						<input type="radio">
						Médico
					</label>

					<label class="radio inline">
						<input type="radio">
						Obstétrica
					</label>

					<label class="radio inline">
						<input type="radio">
						Enfermera
					</label>

					<label class="radio inline">
						<input type="radio">
						Comadrona
					</label>

					<label class="radio inline">
						<input type="radio">
						Estudiante
					</label>

					<label class="radio inline">
						<input type="radio">
						Otra persona
					</label>

				</div>

			</div>

		</div>

		<div class="row-fluid">

			<div class="span6 mod mod-bordered">
				
				<div class="hd">
					Esta declaración es de un feto:
				</div>
				
				<div class="bd">

					<div class="control-group">

						<label class="radio">
							<input type="radio">
							Solo
						</label>

						<label class="radio">
							<input type="radio">
							Gemelo
						</label>

						<label class="radio">
							<input type="radio">
							Trillizo
						</label>

						<label class="radio">
							<input type="radio">
							O Mas
						</label>

						<label class="dinline-block input-medium">Especifique:</label>
						<input type="text" class="input-medium">

					</div>

				</div>

			</div>

			<div class="span6 mod mod-bordered">
				
				<div class="hd">
					Si el embarazo fue multiple el feto era:
				</div>
				
				<div class="bd">

					<div class="control-group">

						<label class="radio">
							<input type="radio">
							Primero
						</label>

						<label class="radio">
							<input type="radio">
							Segundo
						</label>

						<label class="radio">
							<input type="radio">
							Tercero
						</label>

						<label class="dinline-block input-medium">Especifique:</label>
						<input type="text" class="input-medium">

					</div>

				</div>

			</div>
				
		</div>

		<div class="row-fluid">

			<div class="span3 mod mod-bordered">
				
				<div class="hd">
					El feto murio:
				</div>
				
				<div class="bd">

					<div class="control-group">

						<label class="radio">
							<input type="radio">
							Antes de la labor
						</label>

						<label class="radio">
							<input type="radio">
							Durante la labor
						</label>

					</div>

				</div>

			</div>

			<div class="span3 mod mod-bordered">
				
				<div class="hd">
					Tipo de Parto:
				</div>
				
				<div class="bd">

					<div class="control-group">

						<label class="radio">
							<input type="radio">
							Vaginal
						</label>

						<label class="radio">
							<input type="radio">
							Cesaria
						</label>

					</div>

				</div>

			</div>

			<div class="span6 mod mod-bordered">

				<div class="hd">
					Recibio atención prenatal durante este embarazo:
				</div>

				<div class="bd">

					<div class="ctxt">
						<label class="radio inline">
							<input type="radio">
							No
						</label>

						<label class="radio inline">
							<input type="radio">
							Si
						</label>

						<label class="dinline-block input-medium">Número de consultas:</label>
						<input type="text" class="input-medium">

					</div>

					

				</div>

			</div>

		</div>

		<div class="mod mod-bordered row-fluid">

			<div class="bd">

				<div class="ctxt">
					
					<label class="dinline-block input-large">Orden de embarazo (En números)</label>
					<input type="text" class="input-small">

					<label class="dinline-block input-large">Ha tenido otras defunciones fetales?</label>

					<label class="radio inline">
						<input type="radio">
						No
					</label>

					<label class="radio inline">
						<input type="radio">
						Si
					</label>

					<label class="dinline-block input-medium">Número de veces:</label>
					<input type="text" class="input-small">

				</div>

				

			</div>

		</div>

		<div class="mod mod-bordered row-fluid">

			<div class="hd">
				Causas de Defunción:
			</div>

			<div class="bd">

				<div class="control-group">
					
					<div class="control-label">Debida a condiciones del feto</div>
					<div class="controls">
						<textarea class="span11">

						</textarea>
					</div>

				</div>

				<div class="control-group">
					
					<div class="control-label">Debida a condiciones de la madre</div>
					<div class="controls">
						<textarea class="span11">
							
						</textarea>
					</div>

				</div>

				<div class="control-group">
					
					<div class="control-label">Debida a causas externas</div>
					<div class="controls">
						<textarea class="span11">
							
						</textarea>
					</div>

				</div>

			</div>

		</div>

		<div class="mod mod-bordered row-fluid">

			<div class="bd">

				<div class="control-group">
					<div class="control-label">Nombre del profesional en medicina que certifica</div>
					<div class="controls">
						<input type="text" />
					</div>
					<label>
						Indicar nombre de la persona registradora de un hospital o Medicatura Forense
					</label>
				</div>
				<div class="control-group">

					<label class="checkbox inline">
						<input type="checkbox">
						Extranjero
					</label>

				</div>

				<div class="control-group">
					<div class="control-label">Cedula o Documento de Identidad</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

				<div class="control-group">
					<div class="control-label">Nombre<span class="state-required">(<b>*</b>)</span></div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>
			
				<div class="control-group">
					<div class="control-label">Primer Apellido<span class="state-required">(<b>*</b>)</span></div>
						<div class="controls">
						<input type="text" />
						<label class="dinline-block">Segundo Apellido</label>
						<input type="text" />
						<label class="checkbox inline">
						<input type="checkbox">
							No Indica
						</label>
					</div>

				</div>

				<div class="control-group">
					<div class="control-label">Codigo</div>
					<div class="controls">
						<input type="text" />
					</div>
				</div>

			</div>

		</div>

		<div class="ctxt">

			<button class="btn btn-blue">Generar Reporte</button>
			<button class="btn btn-blue">Enviar por correo electrónico</button>
			<button class="btn btn-blue">Realizar nueva consulta</button>

		</div>

	</fieldset>

</form>