<ng-accordeon>

    <ng-resort badge="templates.lista.tramites.length" title="Tramites en proceso">
        
      <ng-litetable heads="configuration.tramites" data="templates.lista.tramites">
      </ng-litetable>

    </ng-resort>

    <ng-resort badge="templates.lista.anotaciones.length" title="Anotaciones Asociadas">
        
      <ng-litetable heads="configuration.anotaciones" data="templates.lista.anotaciones">
      </ng-litetable>

    </ng-resort>

  </ng-accordeon>


<!-- <div class="accordion" id="acordion{{$index}}">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#acordion{{$index}}" href="#collapseOne1{{$index}}">
        <span class="badge"><b>{{templates.lista.tramites.length}}</b></span><span> Tramites en proceso</span> 
      </a>
    </div>
    <div id="collapseOne1{{$index}}" class="accordion-body collapse">
      <div class="accordion-inner">

            <ng-litetable heads="configuration.tramites" data="templates.lista.tramites">
            </ng-litetable>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#acordion{{$index}}" href="#collapseTwo2{{$index}}">
        <span class="badge"><b>{{templates.lista.anotaciones.length}}</b></span><span> Anotaciones Asociadas</span>
      </a>
    </div>
    <div id="collapseTwo2{{$index}}" class="accordion-body collapse">
      <div class="accordion-inner">
        
        <ng-litetable heads="configuration.anotaciones" data="templates.lista.anotaciones">
        </ng-litetable>

      </div>
    </div>
  </div>
</div> -->