<h5>Detalle de {{template.nombre}} {{template.direccion}}</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Fecha</th>
      <th>Trabajadores</th>
      <th>Locales</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{template.id}}</td>
      <td>{{template.nombre}}</td>
      <td>{{template.direccion}}</td>
      <td>{{template.fecha_ingreso}}</td>
      <td>{{template.trabajadores}}</td>
      <td>{{template.locales}}</td>
    </tr>
  </tbody>
</table>