
<div>

  <ui-accordeon>

    <ui-resort badge="2" title="Opción 1">
    ddsds
    </ui-resort>

    <ui-resort badge="'Texto'" title="Opción 2">
    ddsds
    </ui-resort>

    <ui-resort badge="'Opcion3'" >
      ddsds
    </ui-resort>

     <ui-resort  title="Opción 2">
      gggggg
    </ui-resort>


    <ui-resort badge="5" badge-class="badge-success" title="Opción 4">
    ddsds
    </ui-resort>
    
    <ui-resort badge="5" badge-class="badge-warning" title="Opción 5">
    ddsds
    </ui-resort>

    <ui-resort badge="5" badge-class="badge-important" title="Opción 6">
    ddsds
    </ui-resort>

    <ui-resort badge="5" badge-class="badge-info" title="Opción 7">
    ddsds
    </ui-resort>

    <ui-resort badge="5" badge-class="badge-inverse" title="Opción 8">
    ddsds
    </ui-resort>



    <ui-resort label="Categoria" label-class="label-success" title="Opción 9 con ngLitetable">
      
      <ui-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ui-litetable>

    </ui-resort>
    
    <ui-resort label="Categoria" label-class="label-warning" title="Opción 10 con ngLitetable">
      
      <ui-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ui-litetable>

    </ui-resort>

    <ui-resort label="Categoria" label-class="label-important" title="Opción 11 con ngLitetable">
      
      <ui-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ui-litetable>

    </ui-resort>

    <ui-resort label="Categoria" label-class="label-info" title="Opción 12 con ngLitetable">
      
      <ui-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ui-litetable>

    </ui-resort>

    <ui-resort label="Categoria" label-class="label-inverse" title="Opción 13 con ngLitetable">
      
      <ui-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ui-litetable>

    </ui-resort>

  </ui-accordeon>  

</div>
