
<div>

  <ng-accordeon>

    <ng-resort badge="2" title="Opción 1">
    ddsds
    </ng-resort>

    <ng-resort badge="'Texto'" title="Opción 2">
    ddsds
    </ng-resort>

    <ng-resort badge="'Opcion3'" >
      ddsds
    </ng-resort>

     <ng-resort  title="Opción 2">
      gggggg
    </ng-resort>


    <ng-resort badge="5" badge-class="badge-success" title="Opción 4">
    ddsds
    </ng-resort>
    
    <ng-resort badge="5" badge-class="badge-warning" title="Opción 5">
    ddsds
    </ng-resort>

    <ng-resort badge="5" badge-class="badge-important" title="Opción 6">
    ddsds
    </ng-resort>

    <ng-resort badge="5" badge-class="badge-info" title="Opción 7">
    ddsds
    </ng-resort>

    <ng-resort badge="5" badge-class="badge-inverse" title="Opción 8">
    ddsds
    </ng-resort>



    <ng-resort label="Categoria" label-class="label-success" title="Opción 9 con ngLitetable">
      
      <ng-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ng-litetable>

    </ng-resort>
    
    <ng-resort label="Categoria" label-class="label-warning" title="Opción 10 con ngLitetable">
      
      <ng-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ng-litetable>

    </ng-resort>

    <ng-resort label="Categoria" label-class="label-important" title="Opción 11 con ngLitetable">
      
      <ng-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ng-litetable>

    </ng-resort>

    <ng-resort label="Categoria" label-class="label-info" title="Opción 12 con ngLitetable">
      
      <ng-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ng-litetable>

    </ng-resort>

    <ng-resort label="Categoria" label-class="label-inverse" title="Opción 13 con ngLitetable">
      
      <ng-litetable heads="citasConfig.tramites" data="citasConfig.tramites.data">
      </ng-litetable>

    </ng-resort>

  </ng-accordeon>  

</div>