<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myh3" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i></i>Close </button>
    <h3 id="myh3">Aviso</h3>
  </div>
  <div class="modal-body">
    <p> {{mensaje}} </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-blue lfloat" data-dismiss="modal" aria-hidden="true" data-ng-click="_aceptarMensajeDeAlerta()"> Aceptar </button>
  </div>
</div>